

.square{
    width: 30%; 
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
    margin: 10px;
    transition: background 0.6s;
}

#container{
    max-width: 600px;
    margin: 20px auto;

}
span{
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
}

h1{
    color: white;
    height: 100px;
    text-align: center;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
}
#message{
   display: flex;
   justify-content: center;
   font-size: x-large;
   padding: 10px;
}
#pa{
    height: 100%;
    background-color: white;
    color: steelblue ;
    border: none;
    padding: 5px;
    margin-right: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.stripe{
    height: 30px;
    background-color: white;
    text-align: center;
}
body{
    background-color: #232323;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.easyBtn , .hardBtn{
    height: 100%;
    background-color:white ;
    color: steelblue;
    display: inline-block;
    width: 5%;
    border:none;
    font-weight: bold;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;    
    transition: all 0.3s;
}
.active{
    height: 100%;
    background-color:steelblue ;
    color: white;
    margin-left: 15px;
    border-width: 0;
    font-weight: bold;
    font-size: medium;
}
.easyBtn:hover , .hardBtn:hover, #pa:hover{
    background-color: steelblue;
    color: white;
}
.blue{
    background-color: steelblue;
    color: white;
}

.backg{
    background-color: steelblue;
}
#colorDisplay{
    display: flex;
    justify-content: center;
    
}